torch==2.0.1
torchvision==0.15.2
openmim==0.3.9
gradio==3.41.0
pandas==2.0.3
numpy==1.25.0
opencv-python-headless==4.7.0.72
Jinja2==3.1.2
transformers==4.30.2
huggingface-hub==0.15.1
datasets==2.14.5
requests==2.31.0
apscheduler
pytz
jiwer
evaluate
# pillow==9.5.0

mmengine==0.7.4
mmcv==2.0.1
mmdet==3.0.0
mmocr==1.0.0


