torch==2.0.1
torchvision==0.15.2
openmim==0.3.9
gradio==3.70.0
pandas==2.0.3
numpy==1.25.0
opencv-python-headless==4.7.0.72
Jinja2==3.1.2
transformers==4.30.2
huggingface-hub==0.15.1
datasets==2.13.1
requests==2.31.0


# make install_openmmlab (they are excuted in dockerfile)
# !pip install -U openmim
# !mim install mmengine
# !mim install mmcv
# !mim install mmdet
# !mim install mmocr